body, html {
    margin: auto;
    border: solid 2px #0000FF;
}
#destaque {  
    background-color: gold fusion;
    background-size: cover;
    text-align: center;
}
.item{
    width: 20%;
    border: 5px solid #0000FF;
    text-align: center;
    padding: 10%;
}
img{
    margim: auto;
    border: solid 10px #0000FF;
    text-align: center;
}
